body {
    margin: 5px;
    align-content: center;
    align-items: center;
    background-color: rgb(254, 243, 255);
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-size: 1.2vw
    
    
}

h1{
    margin: 60%;
    padding-bottom: 8px;
}

#logo {
     margin: 1px;
     color: rgb(255, 255, 255);
     text-shadow: 1px 1px 1px; text-shadow: rgb(135, 68, 68);
        font-family: "Kaushan Script", cursive;
        font-weight: 400;
        font-style: normal;
     width: 10%
     
}

ul{
    margin: 0px;
    
}

#nav-ul {
    display: flex;
    font-family: "Anton&display" ;
    
}

#nav-ul2 {
    display: flex;
    font-family: "Anton&display" ;
    align-items: center;  

}

#nav-ul> li{
    padding: 15px;
    margin: 16px;
    list-style: none;
    font-family: "Anton&display" ;

}
#nav-ul2> li{
    padding: 7px;
    margin-top: 90px;
    list-style: none;
    font-family: "Anton&display" ;
    align-items: center;
    margin-left: 100px;
 
}

.navbutton{
    color: rgb(0, 0, 0);
  padding: 15px;
  border: 5px 5px 10px 11px;
  text-decoration: none;
  font-family: "Anton&display" ;
}

body> main article{
    width: 60%;
    margin: auto;
}

#main-content{
    justify-content: space-around;
    display: flex
    
}


h2{
    text-align: center;
    padding: 15px;
}

#p1{
    text-align: center;
    padding: 15px;
}

body> header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    float: inline-end;
    padding: 10px;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content:space-between;
    color: rgb(8, 0, 0);
    background-color:rgb(207, 184, 207)
    
    
}


body> header> img {
    border-radius: 10%;
    height: 100px;
    width: 200px;
}
    
#header2 {
    align-items: center;
    display: flex;
    height: 20vh;
    width: 100%;
    justify-content: space-between;
    list-style:none;
    color: rgb(8, 0, 0);
    background-color:rgb(238, 224, 238)
}

#main-content aside{
    width: 20;
    display: flex;
}

#main-content> div{
    width: 70%;
}

body> footer {
    color: aliceblue;
    margin: auto;
    background-color:rgb(207, 184, 207)
    
}

#footer-ul{
    display: flex;
    justify-content:space-around;
    padding: 15px;
}


img{
   align-content: center; 
   width: 100%;
   
}

.container {
    position: static;
    text-align: center;
    color: white;
    width: 100%;
    margin-top: 100px;
  }

  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 60px;
    margin-top: 100px;
  }

  .bottom-left {
    position: absolute;
    bottom: 5px;
    left: 16px;
    font-size: 20px;
    margin-top: 100px;
  }

  .bottom-right{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 100px;
    margin-top: 100px;
  }

  .grid-container {
    display: grid;
    column-gap: 15px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    align-items: center;
  }

  #grid2{
    display: grid;
    column-gap: 15px;
    grid-template-columns: auto auto;
    padding: 10px;
    align-items: center;
    width: 100%;
  }
  #grid3{
    display: grid;
    column-gap: 15px;
    grid-template-columns: auto auto;
    padding: 10px;
    align-items: center;
    width: 100%;
  }
  
  footer> div> div> img {
    width: 100%;
  }
#image3{
    height: 900px;
    width: 100px;
}
#image4{
    height: 900px;
    width: 100%;
}
#image5{
    height: 400px;
    width: 100%;
}
#image6{
    height: 400px;
    width: 100%;
}

